div.rectangle1-form{
    z-index: 0;
    box-sizing: border-box;
    position: absolute;
    width: 138px;
    height: 138px;
    left: 850px;
    top: 600px;
    border: 3px solid #87C3FA;
    border-radius: 6px;
    transform: rotate(-27.99deg);
}

div.rectangle2-form{
    z-index: 0;
    box-sizing: border-box;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 910px;
    top: 530px;
    border: 3px solid #87C3FA;
    border-radius: 6px;
}

div.rectangle3-form{
    z-index: 0;
    box-sizing: border-box;
    position: absolute;
    width: 138px;
    height: 138px;
    left: 1300px;
    top: 0px;
    border: 3px solid #87C3FA;
    border-radius: 6px;
    transform: rotate(-27.99deg);
}

div.rectangle4-form{
    z-index: 0;
    box-sizing: border-box;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1270px;
    top: 90px;
    border: 3px solid #87C3FA;
    border-radius: 6px;
}